<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lan="en">
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <title>You radio</title>
       <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
       <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
       <link rel="stylesheet" type='text/css' href="skeleton.css">


    </head>
<body>

<div id="container">
  <div id="radios">
  <th:block th:each="qr: ${query}">
<p th:text="${qr.description}"></p>
</div>

  <div id="search">
    <form action="newRadio">

          <input  name="query" type="text" placeholder="what do you want to listen today?"><br>

    </form></div>

</div>

</body>

</html>
