<!doctype html>
<html lang="en">
<head>
       <title>search page</title>
       <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
       <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
       <link rel="stylesheet" type="text/css" href="skeleton.css">

    </head>

    <body>
  <div id="container">

    <div id="radios">

    <th:block th:each="song : ${query}">
    <p th:text="${song.name}"></p>
    <p th:text="${song.artist}"></p>

  </div>

  <div id="search">
    <div class="songes">
    <p th:text="${nquery[0].artist}"></p>
    <p th:text="${nquery[0].name}"></p>
  </div>
  <div class="songes">
  <p th:text="${nquery[1].artist}"></p>
  <p th:text="${nquery[1].name}"></p>
</div>
<div class="songes">
<p th:text="${nquery[2].artist}"></p>
<p th:text="${nquery[2].name}"></p>
</div>

  </div>

  <div id="mainAudio"></div>
  <script type="text/babel" th:inline="javascript">
  var mainSong = [[${news}]]
  var ret = <div></div>
  if(mainSong != null){
    ret = <iframe width="300" height="100" th:src="mainSong"></iframe>
  }
  ReactDOM.render(ret,document.getElementById("mainAudio"))
  </script>

<div data-video="Q5l2ChAqRDg"
         data-autoplay="0"
         data-loop="1"
         id="youtube-audio">
  </div>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>


  </div>
    </body>

</html>
