<!doctype html>
<html lang="en">
<head>
       <title>search page</title>
       <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
       <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
       <link rel="stylesheet" type="text/css" href="skeleton.css">

    </head>

    <body>
  <div id="container">

    <div id="radios">

    <h6 th:each="song : ${query}" th:utext="${song.artist + '<br />'+song.name}"></h6>
  </div>

  <div id="search">

  <script th:inline="javascript">
  var songs = [[${nquery}]];
  var inn="<div><table id='songTable'>";

  for(i=0;i<songs.length;i++){
      inn = inn + "<tr onclick='playSong(this)' data-vid='"+songs[i].videoId+"'><td>"+songs[i].artist+"<br>"+songs[i].name+"</td></tr>";
  }
  document.getElementById('search').innerHTML = inn + "</table></div>";

  function playSong(s){
    var cell = document.getElementById("search").getElementsByTagName("tr");
    for(n=0;n<cell.length;n++){
      if(cell[n].classList.contains('songPlaying')){
        cell[n].classList.remove('songPlaying');
      }
      if(s.isSameNode(cell[n])){
        s.classList.add('songPlaying');
      }
    }
    document.getElementById("songArtist").innerHTML = s.innerHTML;
    reloadPlayer(s.getAttribute("data-vid"));
  }


  </script>

</div>

  <div id="activities">
    <div id="nowPlaying">
  <h1 style="float:center">Now Playing</h1>
  <h4 id="songArtist"></h4>
  </div>

<div id="youtube-audio"
         th:data-video="${nquery[0].videoId}"
         data-autoplay="0"
         data-loop="1"></div>
  </div>


  <div id='friends'></div>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="youtubeAudio.js"></script>

</div>

</div>

    </body>

</html>
